* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
  background-image:
  linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
  url('header.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}

header {
  /* position:fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 1em 2em;
  background-color: hsla(328, 14%, 82%, 0.75);
  color: black;
  width: 100vw;
  height: 200px;
  font-style: oblique ;
}

h1 {
  font-size: 4em;
  line-height: 1.1;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  line-height: 1.1;
  text-align:center;
}

h3 {
  font-size: 2em;
}


button {
  border-radius: 20px;
  border: 1px solid gray;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.5em;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.add-recipe form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  gap: 1em;
  padding: 0 1em;
  margin: 0 auto;
  margin-bottom: 2em;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-bottom: 2em;
  padding: 10px;
}

.recipes {
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color:
  rgb(233, 223, 228,0.5);
  margin-bottom: 2em;
  padding: 10px;
} 

.recipe-item {
  display:flex;
  align-items: center;
  justify-content:center;
  gap: 0.5em; 
  padding: 1em;
  border-radius: 8px;
  background-color: rgb(211, 190, 200);
  color: rgb(7, 7, 7);
  min-width: 100px;
  min-height: 100px;
  margin: 10px;
}


.modal-body{
  background-color: rgb(214, 182, 196);
  color: rgb(7, 7, 7);
  gap: 0.5em;
  padding: 1em;
  border-radius: 8px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  gap: 1em;
  margin-bottom: 2em;
  padding: 10px;
}